*{
    margin:0;
    padding:0;
}
.header{
    width: 100%;
    height: 300px;
    background:url(../img/header.png);
}
.navbar{
    width: 100%;
    height: 50px;
    background: #000;
}
.content{
    width:100%;
    height: 500px;
    background: #ccc;
}
li{
   float:left;
   margin:15px 25px; 
   list-style-type:none;
}
li a{
    color:#fff;
    text-decoration:none;
}
li a:hover{
    color:yellow;
}